{% extends 'base.html.twig' %}

{% block title %}SWG Entertainer Buff Builder for SWG Legends{% endblock %}

{% block body %}
    {{ include('partials/header.html.twig', {title: 'SWG Entertainer Buff Builder'}) }}

    <div class="container text-white">
        Legends
    </div>
{% endblock %}
