<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SWG Entertainer Buff Builder{% endblock %}</title>
        <meta name="language" content="en">
        <meta name="robots" content=”index,nofollow”>
        <meta name="description" content="Star Wars Galaxies - Entertainer Buff Builder. Conveniently create your entertainer buff setup.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/faviconEBB.ico') }}">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
